.idea
/vendor
/composer.lock
/node_modules
/tests/log
/tests/tmp
/tests/environment.php
/tests/config.local.php
/examples/log
/examples/tmp
/tests/Mesour/EditableTests/output
/tests/Mesour/EditableTests/Handlers/output
/examples/environment.php